{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    <header class="navbar">
        <div class="navbar-left"></div>
        <div class="navbar-right">
            <a href="#" class="button-link">Join as Student</a>
            <a href="#" class="button-link">Join as Teacher</a>
        </div>
    </header>

    {% block body %}
    <div class="container">
        <strong>{% trans "Menu:" %}</strong>
        <ul style="list-style-type: none; padding: 0;">
            {% if user.is_authenticated %}
                        <!-- TODO: fix the problem of not working redirection of signup on the sign in page and vice versa -->
                {% url 'account_logout' as logout_url_ %}
                {% if logout_url_ %}
                <li>
                    <a href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
                </li>
                {% endif %}
            {% else %}
                {% url 'account_login' as login_url_ %}
                {% if login_url_ %}
                <li>
                    <a href="{{ signup_url_ }}">{% trans "Sign Up" %}</a>
                </li>
                {% endif %}
                {% url 'account_signup' as signup_url_ %}
                {% if signup_url_ %}
                <li>
                    <a href="{{ login_url_ }}">{% trans "Sign In" %}</a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
        {% block content %}
        {% endblock content %}
    </div>

    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}

    <footer class="footer">
        <p>&copy; 2025 CRM Platform. All rights reserved.</p>
        <p>Contact: support@crmplatform.example</p>
    </footer>
</body>

</html>